body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#computer-choice {
    width: 240px;
    height: 240px;
    background-color: green;
    margin-top: 10px;
}

#my-choice {
    width: 240px;
    height: 240px;
    background-color: orange;
    margin-top: 10px;   
}

#choices {
    width: 240px;
    height: 80px; 
}
